*{
  margin: 0;
  padding: 0;
}

h1{
  margin-left: 29%;
  margin-top: 20px;
}
.tab{
  text-align: center;
  display: inline-block;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px lightgrey;
}

.selectedTab{
  background-color: lightgrey;
}

.content{
  text-align: center;
  width: 400px;
  height: 200px;
  overflow: scroll;
  border: 1px solid black;
  margin-left: 21.5%;
  padding: 10px;
}