.App {
  text-transform: capitalize;
}

h1, h3{
  text-align: center;
}

h3{
  color: darkblue;
  padding-top: 10px;
}
ul{
  margin-left: 40px;
}

.names{
  /* border: 2px solid grey; */
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  margin-left: 38%;
  padding: 15px;
  box-shadow: 0px 9px 19px 5px lightgrey;
  
}