.App {
  text-transform: capitalize;
}

h1{
  text-align: center;
}

ul{
  margin-left: 40px;
}

.names{
  border: 2px solid black;
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  margin-left: 38%;
  padding: 15px;
  

}